.p-10 {
  padding: 10px;
}

.text-center {
  text-align: center;
}

@media (min-width: 1080px) {
  .para-padding {
    padding: 20px 250px;
  }
}

@media (min-width: 720px) and (max-width: 1079px) {
  .para-padding {
    padding: 20px 100px;
  }
}

@media (max-width: 719px) {
  .para-padding {
    padding: 20px 20px;
  }
}

.section {
  min-height: 100vh;
  width: 100vw;
}
