<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Nick Sinclair</title>
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div id="vue">
        <header>
            <div id="head">
              

                <div id="headshot">

                </div>
                <div id="description" class="p-10">
                    <div class="title">
                        <h1 class="text-center heading">Nick S<a href="https://www.linkedin.com/in/nick-sinclair-94b7b1160/" target="_blank"><i class="fab fa-linkedin"></i></a>clair</h1>
                    </div>
                    <hr>
                    <br>
                    <div class="paragraph">
                        <h4>
                            Victoria University of Wellington Alumnus &#11049 Bachelor of Science &#11049 Psychology &#11049 Philosophy &#11049 Self-taught
                            Full-Stack Developer &#11049 JavaScript &#11049 nodeJS &#11049 VueJS &#11049 Sass &#11049 Electron
                            &#11049 HTML &#11049 CSS
                        </h4>
                        <sub style="color: red;">
                          This CV is outdated and will be replaced soon!
                          I have since learned:
                          <ul style="list-style: none">
                            <li>React/Redux/Router</li>
                            <li>SVG</li>
                          </ul>
                        </sub>
                    </div>
                </div>
                <div id="nav">
                    <div class="nav-item">
                        <a href="#about">about</a>
                    </div>
                    <div class="nav-item">
                        <a href="#projects">projects</a>
                    </div>
                    <div class="nav-item">
                        <a href="https://github.com/sinclairnick" target="_blank">github</a>
                    </div>
                    <div class="nav-item">
                        <a href="#contact">contact</a>
                    </div>
                </div>

            </div>
        </header>
        <div id="about" class="section">
            <h1 class="para-padding heading text-center">About Me</h1>
            <p class="para-padding" id="blurb">
                Recently I graduated from Victoria University of Wellington with a degree in psychology and philosophy. This begs the question,
                why do I want to become a web developer? At university I took web development courses under the Commerce
                department, but despite getting top grades for my websites, I found myself learning more through online resources than the courses themselves. Thus, I decided to postpone my web dev education until I could switch my dedication from psychology and philosophy back to web development, after graduating.
                <br>
                <br> As soon as I had graduated university, putting 100% into my final year, I began to self-teach JavaScript,
                HTML, CSS and others, picking up where I had left off a few years prior. At this stage, some of the technologies
                I am familiar with include:
            </p>
            <div id="timeline">
                <div class="tech-logo python" :class="{selected: selectedTech === 'python'}" v-on:mouseover="selectedTech = 'python' ">

                </div>
                <div class="tech-logo javascript" :class="{selected: selectedTech === 'javascript'}" v-on:mouseover="selectedTech = 'javascript' ">

                </div>
                <div class="tech-logo html" :class="{selected: selectedTech === 'html'}" v-on:mouseover="selectedTech = 'html' ">

                </div>
                <div class="tech-logo css" :class="{selected: selectedTech === 'css'}" v-on:mouseover="selectedTech = 'css' ">

                </div>
                <div class="tech-logo node" :class="{selected: selectedTech === 'node'}" v-on:mouseover="selectedTech = 'node' ">

                </div>
                <div class="tech-logo electron" :class="{selected: selectedTech === 'electron'}" v-on:mouseover="selectedTech = 'electron' ">

                </div>
                <div class="tech-logo vue" :class="{selected: selectedTech === 'vue'}" v-on:mouseover="selectedTech = 'vue' ">

                </div>
                <div class="tech-logo sass" :class="{selected: selectedTech === 'sass'}" v-on:mouseover="selectedTech = 'sass' ">

                </div>
            </div>
            <div id="info-box">
                <transition name="fade">
                    <div v-if=" selectedTech === 'python' " class="info">
                        <p>
                            Other than basic Java which I learned during University, Python was the first language I was competent using. I found Python
                            to be more beginner--friendly than Java, as concepts such as type checking and scope declarations
                            were not required. This reignited my passion for coding and allowed me to learn the primary principles
                            of coding before focussing on more complex paradigms and techniques.
                            <br>
                            <br> While Python was enjoyable to use, my interest lay in being able to make web apps and web sites,
                            which meant JavaScript was the next stepping stone.
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'javascript' " class="info">
                        <p>
                            Like many, I initially found JavaScript to be more convoluted and illogical than, say, Python. However, as I gradually came
                            to terms with the philosophy of the language, and became familiar with the inner workings of
                            JavaScript, my confusion and frustration would later turn into appreciation for the nuances of
                            this charismatic language.
                            <br>
                            <br> At this point I would need to learn HTML and CSS to utilise JavaScript, the language of the
                            web.
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'html' " class="info">
                        <p>
                            As mentioned earlier, I was experienced in HTML from my university days, so little was needed to get me back up and running
                            with HTML. But as time progresses, I have noticed subtle improvements in my use of HTML elements
                            and the organization of my web apps.
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'css' " class="info">
                        <p>
                            Like HTML, I was already familiar with CSS. I soon figured out that familiarity with CSS would not cut the mustard when projects
                            become complex, and so my CSS skills have improved greatly, after properly utilizing the available
                            tools like grid, flex box, animations etc., not to mention the frameworks like Bootstrap which
                            do much of the heavy lifting.
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'node' " class="info">
                        <p>
                            After I felt comfortable turning website concepts into functional and good-looking (but ultimately static) web pages, I felt
                            the need to delve into NodeJS to enter the back-end world of web development. Before even learning
                            the Node methods and API, I made sure to understand the protocols and structure of the web. I
                            had/have a veritable fascination with the inner workings of http communication, and the way Node
                            integrates C++ and JS to bring JS to the server-side.
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'electron' " class="info">
                        <p>
                            Electron provided a way to build a desktop app with the languages, libraries and frameworks I had already learned. I jumped
                            into Electron shortly after Node, as a way to practice using Node, and to make something that
                            was not possible purely within a browser.
                            <br>
                            <sub>
                                This is what allowed me to create
                                <a href="#juke">juke</a>
                            </sub>
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'vue' " class="info">
                        <p>
                            To bring my front-end skills to an acceptable level I needed to learn a Front-end JavaScript framework. After initially understanding
                            the basics of React, I looked at Vue.js for comparison, and found Vue to be adequate for my needs.
                            I learned Vue as I was creating
                            <a href="#juke">juke</a>.
                            <br>
                            <br> While I am familiar with Vue, I will resume learning React, as I am aware of its benefits.
                        </p>
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if=" selectedTech === 'sass' " class="info">
                        <p>
                            Sass is the latest technology I have invested time into, and was used to make this web page. Sass (SCSS syntax) took a short
                            time to learn, but has been a huge time-saver which I wish I had picked up earlier.
                        </p>
                    </div>
                </transition>
            </div>
            <div id="objectives">
                <div>
                    <h4>My current goals can be found
                        <a href="https://github.com/sinclairnick/goals" target="_blank">here</a>
                    </h4>
                </div>
            </div>
        </div>
        <div id="projects" class="section">
            <h1 class="para-padding heading">Projects</h1>
            <div id="juke" class="project block">
                <div class="left side">
                    <div class="logo">
                        <img src="img/juke/icon.png">
                    </div>
                    <div class="description">
                        <a href="https://github.com/sinclairnick/juke" target="_blank">
                            <h2 class="title heading">
                                juke
                                <i class="fab fa-github"></i>
                            </h2>
                        </a>
                        <p>A client for streaming and downloading music torrents</p>
                        <div class="made-with">
                            <br>
                            <p>
                                Created using:
                                <br>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JS</li>
                                    <li>Node</li>
                                    <li>Electron</li>
                                    <li>Vue</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right side">
                    <div id="homescreen">
                        <img src="img/juke/home-macbook.png">
                    </div>
                </div>
            </div>
            <div id="magnetic-music" class="project block">
                <div class="left side">
                    <div>
                        <img src="img/magnetic/magnetic-music.png">
                    </div>
                </div>
                <div class="right side">
                    <div class="description">
                        <a href="https://github.com/sinclairnick/magnetic-music" target="_blank">
                            <h2 class="title heading">
                                magnetic-music
                                <i class="fab fa-github"></i>
                            </h2>
                        </a>
                        <p>An npm module used to search for music torrents (used in juke)</p>
                    </div>
                </div>
            </div>
            <div id="wcm" class="project block">
                <div class="left side">
                    <div class="description">
                        <a href="wcm/index.html" target="_blank">
                            <h2 class="title heading">
                                Wellington City Mission
                                <i class="fas fa-external-link-alt"></i>
                            </h2>
                        </a>
                        <p>A concept page for the Wellington City Mission. Was made while learning Bootstrap</p>
                        <div class="made-with">
                            <br>
                            <p>
                                Created using:
                                <br>
                                <ul>
                                    <li>HTML</li>
                                    <li>CSS</li>
                                    <li>JS</li>
                                    <li>Bootstrap</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="right side">
                    <div>
                        <img src="img/wcm/wcm-home.png">
                    </div>
                </div>
            </div>
        </div>
        <footer id="contact">
            <div class="name">
                <h4>Nick Sinclair © 2018</h4>
            </div>
            <div class="contact">
                <div class="email link">
                    <a href="mailto:nicksinclair@xtra.co.nz">
                        <p>
                            <i class="fas fa-envelope"></i> nicksinclair@xtra.co.nz</p>
                    </a>
                </div>
                <div class="phone link">
                    <a href="tel:+642102511183">
                        <p>
                            <i class="fas fa-phone"></i> (+64) 021 025 11183</p>
                    </a>
                </div>
                <div class="linkedin link">
                    <a href="https://www.linkedin.com/in/nick-sinclair-94b7b1160/" target="_blank">
                        <p>
                            <i class="fab fa-linkedin-in"></i> Nick Sinclair</p>
                    </a>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
    <script src="index.js"></script>
</body>

</html>